@using MyTwitter.Controllers
@model IEnumerable<Post>
@{
    ViewData["Title"] = "Index";
}
    
<h2>Index</h2>
@if (ViewData.ContainsKey(PostsController.VisitsCounterKey))
{
    <div>
        <p>Wizyty : @ViewData[PostsController.VisitsCounterKey]</p>
    </div>
}
@Html.ActionLink("Dodaj post","Create")
@Html.Partial("PostsList",Model)
